:root{
--raisin-black: hsla(236, 18%, 19%, 1);
--buff: hsla(48, 81%, 75%, 1);
--vivid-tangerine: hsla(8, 72%, 72%, 1);
--rhythm: hsla(238, 12%, 55%, 1);
--cultured: hsla(0, 8%, 97%, 1);
}



html{
    background-color:var(--rhythm);
}

p{
    color: var(--raisin-black);
}

h3{
    color: var(--raisin-black); 
    color: var(--raisin-black); 
}

body {
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    background-color: var(--buff);
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid black;
    text-align: center;
    color:hsla(236, 18%, 19%, 1)
}

img{
   width: 100%;
   height: 90%;
   border: 4px solid var(--rhythm);
   padding: 0;
}

main{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}
 
.art{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 2px solid var(--rhythm);
    background-color: var(--cultured);
    padding: 10px;
    
}

.event-container{
    width: 90%;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    border: 2px solid var(--rhythm);
    background-color: var(--cultured);
    padding: 10px;
}

.event-container > section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    justify-content: space-between;
}

.button{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--vivid-tangerine);
    color: var(--raisin-black);
    font-size: 2rem;
    border: 2px solid black;
    position: relative;
    bottom: 10px
}

.button:hover{
    cursor: pointer;
    transform: scale(1.10);
}

.result-text{
    font-size: 1.5rem;
    text-align: center;
}

.media{
    width: 25%;
}

.footer-container{
    display: flex;
    justify-content: space-around;
}




